:root {
  --color-error: red;
}

.is-text-left {
  text-align: left;
}

#app {
  padding: 2rem;
}

.is-text-center {
  text-align: center;
}

.is-error {
  color: var(--color-error);
}

.input {
  padding: 0.5em;
  font-size: 1.2rem;
}

.button {
  padding: 0.5em;
  font-size: 1.5rem;
}
